# Next.js Environment Variables
DATABASE_URL=
GEMINI_API_KEY=
NEXT_PUBLIC_APP_URL=
ARTICLE_API_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

