# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

# Application
NEXT_PUBLIC_APP_URL=

# AI
GEMINI_API_KEY=

# Article API
ARTICLE_API_TOKEN=
